<div class="container">
  <h1><%= title %></h1>
  <%- messages() %>
  <% if (errors) { %>
    <ul class="message warning">
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
  <div class="account-outer-wrapper">
    <div class="account-inner-wrapper">
      <form action="/price-watch/create" method="POST">
        <input type="hidden" name="inv_id" value="<%= vehicle.inv_id %>">
        <div class="form-group">
          <label for="inv_price">Target Price ($)</label>
          <input type="number" name="inv_price" id="inv_price" min="1" max="999999999" step="1" size="10" placeholder="e.g., 30000" required>
        </div>
        <button type="submit">Set Price Watch</button>
      </form>
    </div>
  </div>
</div>